@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="text-center">
    <h1 class="display-4">ASP.NET Core Object Lifetimes</h1>

    <h2>Keyed Services</h2>
    <p>Service A: @ViewBag.KeydServiceAMessage</p>
    <p>Service B: @ViewBag.KeyedServiceBMessage</p>
</div>